.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three cards per row */
    gap: 20px; /* Space between cards */
    margin: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    /* background-color: #f9f9f9; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.card-title {
    font-family: var(--lwc-fontFamily, Lato);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    
}

.card-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-list li {
    margin: 5px 0;
}

.card-list a {
    color: rgb(0, 138, 0);
    text-decoration: none;
    font-family: var(--lwc-fontFamily, Lato);
    font-size: 18px;
    font-weight: bold;
}

.card-list a:hover {
    text-decoration: underline;
}