.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three cards per row */
    gap: 10px; /* Space between cards */
    row-gap: 100px;
    margin: 10px;
}

.card {
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.card-title {
    font-family: var(--lwc-fontFamily, Lato);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    
}

.card-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-list li {
    margin: 18px 0; /* Space between items in the card */
}

.card-list a {
    color: rgb(0, 138, 0);
    text-decoration: none;
    font-family: var(--lwc-fontFamily, Lato);
    font-size: 18px;
    font-weight: bold;
}

.card-list a:hover {
    text-decoration: underline;
}